html {

    text-align: center;

}

footer {
    border-top: groove;
}

nav a:link, nav a:visited {
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  nav a:hover, nav a:active {
    background-color: rgba(0, 0, 0, 0.077);
    color: rgb(0, 0, 0);
  }


  h2 a:link, h2 a:visited {
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  h2 a:hover, h2 a:active {
    background-color: rgba(0, 0, 0, 0.077);
    color: rgb(0, 0, 0);
  }
